@font-face {
  font-family: "Helvetica Regular";
  src: url("../assets/Helvetica.ttf") format("truetype");
}

* {
  font-family: "Helvetica";
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 96vh;
}

#introducció {
  min-height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#introduccio > p {
  margin-bottom: 10px;
  text-align: justify !important;
}

#introducció > h1 {
  font-size: 120px;
  font-weight: 300;
  text-align: center;
  line-height: 90px;
}

img {
  width: 100%;
  height: auto;
}

#content {
  min-height: 100vh;
  overflow: auto;
}

.tile {
  width: 100% !important;
  height: 50%;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.card > a {
  font-size: 32px;
  text-decoration: none;
  margin-top: 20px;
}

.card > a:visited {
  color: #000;
}




