@font-face {
  font-family: "Helvetica Regular";
  src: url("../assets/Helvetica.ttf") format("truetype");
}

* {
  font-family: "Helvetica";
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 96vh;
}

#introducció {
  min-height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#segona_introducció > h1 {
  font-size: 40px;
  font-weight: 320;
  margin-bottom: 10px;
  text-align: justify;
}

.text1 {
  font-size: 30px;
  font-weight: 330;
  margin-bottom: 10px;
  text-align: justify;
}

#introducció > h1 {
  font-size: 245px;
  font-weight: 325;
  text-align:center;
  line-height: 170px;
}

img {
  width: 100%;
  height: auto;
}

#content {
  min-height: 100vh;
  overflow: auto;
}

.tile {
  width: 100% !important;
  height: 50%;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  
}

.card > a {
  font-size: 45px;
  text-decoration: none;
  margin-top: 20px;
}

.card > a:visited {
  color: #000;
}





/*
adeu div{
display :inline-lock;
witth: 20px;} */

/*#mora div{
display: inline-block;
width: 100px;
}

#mora div :first-child{
  float: left;
  display: inline-block;
  width: 60px;
  
}


/*
adeu div{
display :inline-lock;
witth: 20px;} */


/*kerning*/

/*#adeu div:{
  dislpay: inline-lock;
}

#adeu div:{
  float:
  
left;

}




<h2 div "adeu">
<hr>
<div> a<div>
<div> a<div>
<div> a<div>
<div> a<div>
</h2>


#adeu div: :first-child{
  float: left;
  display: inline-block;
  width: 60px;
}

#adeu div: first child;
marging: 60px, -16px, 0 0
transition: margin: 2px;*/

/*#mora div: :first-child{
  float: left;
  display: inline-block;
  width: 60px;
}













