@font-face {
    font-family: "Helvetica Regular";
    src: url('../assets/Helvetica.ttf') format('truetype');
}

* {
    font-family: "Helvetica Regular";
}

body{
display: grid;
grid-template-columns: repeat(2,50%);
}

#introducció {
    min-height: 100%;
}

#introducció > h1{
    font-size: 120px;
    font-weight: 300;
}



